[submodule "Packages/YNode"]
	path = Packages/YNode
	url = https://github.com/Eideren/YNode.git
[submodule "Packages/Screenplay"]
	path = Packages/Screenplay
	url = https://github.com/Eideren/Screenplay.git
